@import "tailwindcss";
@import "uniwind";
@import "panelui-native/theme.css";

@source "./app/**/*.{ts,tsx}";
@source "./components/**/*.{ts,tsx}";
@source "./features/**/*.{ts,tsx}";
@source "./hooks/**/*.{ts,tsx}";
@source "./lib/**/*.{ts,tsx}";
@source "./node_modules/panelui-native/src";

@theme {
  --font-bold: InterTight_700Bold;
  --font-extrabold: InterTight_700Bold;
  --font-heading: Anton_400Regular;
  --font-medium: InterTight_500Medium;
  --font-mono: JetBrainsMono_400Regular;
  --font-normal: InterTight_400Regular;
  --font-sans: InterTight_400Regular;
  --font-semibold: InterTight_600SemiBold;
  --radius-4xl: unset;
}

@layer theme {
  :root {
    @variant light {
      --color-background: hsl(0 0% 100%);
      --color-foreground: hsl(0 0% 3.939%);
      --color-card: hsl(0 0% 100%);
      --color-card-foreground: hsl(0 0% 3.939%);
      --color-popover: hsl(0 0% 100%);
      --color-popover-foreground: hsl(0 0% 3.939%);
      --color-primary: hsl(142.965 53.166% 40.713%);
      --color-primary-foreground: hsl(0 0% 3.939%);
      --color-secondary: hsl(239.992 3.51% 95.786%);
      --color-secondary-foreground: hsl(240.017 6.031% 9.981%);
      --color-muted: hsl(0 0% 96.059%);
      --color-muted-foreground: hsl(0 0% 45.152%);
      --color-accent: hsl(0 0% 96.059%);
      --color-accent-foreground: hsl(0 0% 9.053%);
      --color-destructive: hsl(357.206 100% 45.323%);
      --color-destructive-foreground: hsl(0 0% 98.026%);
      --color-border: hsl(0 0% 89.816%);
      --color-input: hsl(0 0% 89.816%);
      --color-ring: hsl(0 0% 63.016%);
      --color-chart-1: hsl(147.707 35.584% 92.653%);
      --color-chart-2: hsl(143.8 36.816% 69.04%);
      --color-chart-3: hsl(142.965 53.166% 40.713%);
      --color-chart-4: hsl(142.537 53.521% 35.272%);
      --color-chart-5: hsl(141.99 54.947% 26.581%);
      --color-sidebar: hsl(0 0% 98.026%);
      --color-sidebar-foreground: hsl(0 0% 3.939%);
      --color-sidebar-primary: hsl(142.965 53.166% 40.713%);
      --color-sidebar-primary-foreground: hsl(0 0% 3.939%);
      --color-sidebar-accent: hsl(0 0% 96.059%);
      --color-sidebar-accent-foreground: hsl(0 0% 9.053%);
      --color-sidebar-border: hsl(0 0% 89.816%);
      --color-sidebar-ring: hsl(0 0% 63.016%);
      --radius-xs: 4px;
      --radius-sm: 6px;
      --radius-md: 8px;
      --radius-lg: 10px;
      --radius-xl: 14px;
      --radius-2xl: 18px;
      --radius-3xl: 22px;
      --radius-4xl: 26px;
    }

    @variant dark {
      --color-background: hsl(0 0% 3.939%);
      --color-foreground: hsl(0 0% 98.026%);
      --color-card: hsl(0 0% 9.053%);
      --color-card-foreground: hsl(0 0% 98.026%);
      --color-popover: hsl(0 0% 9.053%);
      --color-popover-foreground: hsl(0 0% 98.026%);
      --color-primary: hsl(142.965 53.166% 40.713%);
      --color-primary-foreground: hsl(0 0% 3.939%);
      --color-secondary: hsl(240.047 4.043% 15.933%);
      --color-secondary-foreground: hsl(0 0% 98.026%);
      --color-muted: hsl(0 0% 14.938%);
      --color-muted-foreground: hsl(0 0% 63.016%);
      --color-accent: hsl(0 0% 14.938%);
      --color-accent-foreground: hsl(0 0% 98.026%);
      --color-destructive: hsl(358.748 100% 69.558%);
      --color-destructive-foreground: hsl(0 0% 9.053%);
      --color-border: hsl(0 0% 100% / 10%);
      --color-input: hsl(0 0% 100% / 15%);
      --color-ring: hsl(0 0% 45.152%);
      --color-chart-1: hsl(147.707 35.584% 92.653%);
      --color-chart-2: hsl(143.8 36.816% 69.04%);
      --color-chart-3: hsl(142.965 53.166% 40.713%);
      --color-chart-4: hsl(142.537 53.521% 35.272%);
      --color-chart-5: hsl(141.99 54.947% 26.581%);
      --color-sidebar: hsl(0 0% 9.053%);
      --color-sidebar-foreground: hsl(0 0% 98.026%);
      --color-sidebar-primary: hsl(142.965 53.166% 40.713%);
      --color-sidebar-primary-foreground: hsl(0 0% 3.939%);
      --color-sidebar-accent: hsl(0 0% 14.938%);
      --color-sidebar-accent-foreground: hsl(0 0% 98.026%);
      --color-sidebar-border: hsl(0 0% 100% / 10%);
      --color-sidebar-ring: hsl(0 0% 45.152%);
      --radius-xs: 4px;
      --radius-sm: 6px;
      --radius-md: 8px;
      --radius-lg: 10px;
      --radius-xl: 14px;
      --radius-2xl: 18px;
      --radius-3xl: 22px;
      --radius-4xl: 26px;
    }
  }
}
